version: '3.8'

services:

  srishakram-backend:
    build:
      context: "."
      dockerfile: "Dockerfile"
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - srishakram-db
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: prod

  srishakram-db:
    image: postgres:17.6
    restart: always
    ports:
      - "5433:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
